* {
  margin: auto 0;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#main-body {
  padding-top: 50px;
}

.row-text {
  display: flex;
  justify-content: center;
}

.row-image {
  display: flex;
  justify-content: center;
}
