* {
  margin: auto 0;
}

h2 {
  margin-top: 40px;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#main-body {
  padding-top: 50px;
}

.row-text {
  display: flex;
  justify-content: center;
}

.row-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.column-third {
  display: flex;
}

#footer-text.row {
  width: 100%;
}
