.favorites {
  margin-right: 10px;
  background-color: #57b9ff;
  color: black;
  padding: 10px;
  border-radius: 5%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 2px solid black;
}

#heading-color {
  font-family: cursive, sans-serif;
  background-color: #77b1d4;
}

.main-body-background {
  width: 100%;
  background-color: #517891;
}

#intro-art-text {
  font-family: cursive, Times, serif;
  font-size: 14px;
  color: white;
}

#inspiration-text {
  font-family:;
}

#footer-color {
  padding: 30px;
  background-color: #77b1d4;
}

.text-footer-styles {
  font-family: cursive, times, sans-serif;
  font-size: 25px;
}

.search-button {
  margin-left: 10px;
  background-color: #57b9ff;
  border: 1px solid;
  cursor: pointer;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
}

.hidden {
  display: none;
}

#fav-bar {
  cursor: grab;
}

input::placeholder {
  font-family: Helvetica, times, sans-serif;
  font-size: 10px;
}
